@import "{{ site.theme }}";

header {
  display: none;
}
.inner {
  max-width: 75%;
}

$base-font-size:   13px !default;
$base-font-family: "PT Serif", serif;

.markdown-body {
  font-family: "PT Serif", serif;
  font-size:   11px;
}

body {
  font-family: 'OpenSans';
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}