@import "{{ site.theme }}";

header {
  display: none;
}
.inner {
  max-width: 100%;
}

$base-font-size:   12px !default;
$base-font-family: "PT Serif", serif;

.markdown-body {
  font-family: "PT Serif", serif;
  font-size:   10px;
}

body {
  font-family: "PT Serif";
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

@font-face {
  font-family: BetterHeader;
  src: url(...) format("WOFF2");
}

h1,h2,h3,h4,h5,h6 {
  font-family: BetterHeader, Helvetica, Arial, sans;
}